<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/header') %>
        <title>Reddit Knockoff</title>
        <link rel="stylesheet" href="stylesheets/home.css" type="text/css">
</head>

<body>
    <!-- HEADER -->
    <%- include ('layout/layout') %>

        <!-- BODY -->
        <div class="container-post">
            <div class="content-body">
                <form action="/" method="POST" class="what-header">
                    <input type="text" name="content" placeholder="What's up?">
                    <button type="submit">
                        <span class="fas fa-plus submit-button ">
                            POST
                        </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="post-content">
            <h1>Hello</h1>
        </div>
</body>

</html>