<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/layout') %>
        <title>Login Reddit Knockoff</title>
        <link rel="stylesheet" href="stylesheets/register.css">
</head>

<body>
    <div class="register-content">
        <% if(msg) {%>
            <p><%= msg %></p>
        <% }%>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <h5>Username</h5>
            <input type="text" name="user_name">
            <h5>Password</h5>
            <input type="password" name="password">
            <button class="register-button" type="submit">
                <span>Login</span>
            </button>
        </form>
    </div>
</body>

</html>