.register-content {
    margin: auto;
    width: 50%;
}

.register-button {
    margin-top: 20px;
    height: auto;
    width: auto;
}

.register-username {
    margin-bottom: 15px;
}

h5 {
    margin-top: 15px;
}